@{
	ViewBag.Title = "Home Page";
}
<div class="jumbotron">
	<div class="row">
		<div class="col-md-12" style="text-align: center">
			<img src="~/template/resources/img/diretoria.jpeg" alt="Diretoria de Ensino - Região de Caieiras" style="max-width:100%">
		</div>
	</div>

	</br>

	<div class="row">
		<div class="col-md-12" style="text-align: center">
			<h2>Atribuição de Aulas @DateTime.Now.Year</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12" style="text-align: center">
			<img src="~/template/resources/img/atribuicao.jpeg" alt="E.E. Walther Weiszflog" style="max-width:100%" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-12" style="text-align: center">
			<iframe style="width: 225px; height: 120px; max-width:100%;" src="https://maps.google.com/maps?q=%20Av.%20dos%20Estudantes%2C%20360%20-%20Centro%20-%20Caieiras%20-%20SP&t=&z=13&ie=UTF8&iwloc=&output=embed"></iframe>
		</div>
	</div>
</div>