/*  modals */


.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  background-color: #015694;
}

.modal-content .input-lg {
  font-size: 12px;
  height: 55px;
  padding: 10px 15px;
  line-height: 1.3333333;
  border-radius: 5px;
  border-left: 3px solid #DE851F !important;
  border: 1px solid #999;
  font-weight: 300;
}

.modal-content .panel-body {
  padding: 0px 5px 10px 5px;
}

#eventosModal .panel-body {
  padding: 5px;
  border: none;
  margin-top: -1px;
  border-top: none;
}

.modal-content {
  position: relative;
  background-color: #015694;
}



.modal-header .close {
  opacity: 1 !important;
  margin-top: 5px;
  color: #fff;
}

.bgmodal {
  background-color: #F2F2F2;
  font-size: 12px;
}

.modal-header {
  padding: 5px 15px 10px 15px;
  border-bottom: 2px solid #d96c00;
  color: #fff;
}

.modal-header h2 {
  margin-top: 5px;
  font-size: 18px; 
}

.modal-footer {
  background-color: #ddd;
}

.modal-body {
  position: relative;
  padding: 15px;
  background-color: #f2f2f2;
}

.modal-title {
    margin: 6px 0px 0px 5px;
    line-height: 1.42857143;
}


.modal-footer .btn+.btn {

    margin-right: 10px;
    margin-left: 5px; 
}

.modal-header .close.closeModalEmail, .modal-header .close.modalMinimize { 
    margin: 0px 10px;
    font-size: 17px;
    top: 6px;
    position: relative; 

} 

.close.closeModalBarra , .modal-header .close.modalMax {  
    margin: 0px 10px;
    font-size: 18px; 
    top: 5px;
    position: relative; 

} 

.modal-title i {
       margin-right: 8px;
    }


/* Modal Envio de Email*/

   .modal-header .btnGrp {
        position: absolute;
        top: 8px;
        right: 10px;
    }


    .min {
        width: 250px;
        height: 35px;
        overflow: hidden !important;
        padding: 0px !important;
        margin: 0px;
        float: left;
        position: static ; 
    }

        .min .modal-dialog, .min .modal-content {
            height: 100%;
            width: 100%;
            margin: 0px !important;
            padding: 0px !important;
        }

        .min .modal-header {
            height: 100%;
            width: 100%;
            margin: 0px !important;
            padding: 6px 5px !important;
        }

 .minmaxCon {
    height: 45px;
    bottom: -1px;
    left: 1px;
    position: sticky;
    right: 1px;
    z-index: 9999;
}


 .anexo-nag {
  display: inline-block;
  text-align: left;
  background-color: #fff;
  height: 20px;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
  -moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
  margin-bottom: 10px;
  margin-right: 10px;
}
.anexo-nag:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.4);
  -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.3);
  -moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.3);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.3);
}
.anexo-nag > .anexo-split {
  background: #337ab7;
  width: 20px;
  float: left;
  color: #fff !important;
  height: 100%;
  text-align: center;
}
.anexo-nag > .anexo-split > i {
  position: relative;
  top: calc(50% - 9px) !important;
}
.anexo-nag > .anexo-split.anexo-success {
  background: #5cb85c !important;
}
.anexo-nag > .anexo-split.anexo-danger {
  background: #d9534f !important;
}
.anexo-nag > .anexo-split.anexo-info {
  background: #5bc0de !important;
}
.anexo-nag > .anexo-split.anexo-default {
  background: #999 !important;
}
.anexo-nag > .anexo-text {
  line-height: 19px;
  padding-left: 25px;
  padding-right: 10px;
}
@media screen and (min-width: 768px) {
  #adv-search {
    margin: 0 auto;
  }
  .dropdown.dropdown-lg {
    position: static !important;
  }
  .dropdown.dropdown-lg .dropdown-menu {
    min-width: 500px;
  }
}
.dropdown-menu.email_pastas {
  width: 300px;
}
.dropdown-menu.email_pastas>li>a {
  padding: 8px 12px;
}
.dropdown-menu.email_pastas>li>a:hover,
.dropdown-menu.email_pastas>li>a:focus {
  color: #337ab7;
}

.modalfull{
    width:90%;
}