@model IEnumerable<atribuicaoAulas.Escola>

<div class="panel panel-default ">
    <div class="panel-heading">
        <h2>Disciplinas</h2>
        <span class="tools pull-right">  </span>
    </div>
    <div class="panel-body">
        <div class="col-lg-12 offset-0">
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped sortable-theme-bootstrap table-link border0" data-sortable>
                    <thead>
                        <tr>
                            <th>
                                Município
                            </th>
                            <th>
                                Escola
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Municipio.descrMunicipio)
                                </td>
                                <td>
                                    @Html.ActionLink(item.descrEscola, "EditAula", "Escola", new { id = item.IdEscola }, null)
                                </td>
                                @*<td>
                                        @Html.ActionLink("Detalhes", "DetailsEscola", "aulasDisponiveis", new { idEscola = item.IdEscola, idDisciplina = item.descrEscola }, null)
                                    </td>*@
                            </tr>
                        }
                    </tbody>
                </table>
                <div>
                    @Html.ActionLink("Voltar", "Index", null, null, new { @class = "btn btn-primary btn-large" })
                </div>
            </div>
        </div>
    </div>
</div>