@model atribuicaoAulas.AULASDISPONIVEIS

@{
    ViewBag.Title = "Index";
}

<div class="panel panel-default" id="ModalSenha">
    <!-- Topo -->
    <div class="panel-heading">
        <h2>Relatórios</h2>
        <span class="tools pull-right">  </span>
    </div>
</div>